#
# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "Wi-Fi Provisioning"

module = WIFI_PROVISIONING
module-str = wifi provisioning service
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config WIFI_TWT_ENABLED
    bool "Enable support for TWT (Target Wake Time)"
    default n

endmenu

source "Kconfig.zephyr"
